<a href="https://colab.research.google.com/github/C4st3ll4n/google_colab/blob/master/desafio_codenation_credito_estado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv("desafio1.csv")

In [ ]:
dados.head()

   RowNumber  ... membro_ativo
0          1  ...            1
1          2  ...            1
2          3  ...            0
3          4  ...            0
4          5  ...            1

[5 rows x 12 columns]

In [ ]:
media = dados.groupby('estado_residencia')['pontuacao_credito'].mean().reset_index().sort_values('pontuacao_credito', ascending=False)

In [ ]:
media

  estado_residencia  pontuacao_credito
1                RS         651.105143
2                SC         649.537653
0                PR         648.961294

In [ ]:
mediana = dados.groupby('estado_residencia')['pontuacao_credito'].median().reset_index().sort_values('pontuacao_credito', ascending=False)

In [ ]:
mediana

  estado_residencia  pontuacao_credito
2                SC                653
0                PR                650
1                RS                650

In [ ]:
desvio =dados.groupby('estado_residencia')['pontuacao_credito'].std().reset_index().sort_values('pontuacao_credito', ascending=False)

In [ ]:
desvio

  estado_residencia  pontuacao_credito
0                PR          98.607186
2                SC          97.233493
1                RS          95.136598

In [ ]:
submission = pd.DataFrame(dados.groupby('estado_residencia')['pontuacao_credito'].agg(['mean', 'median', lambda x: x.mode(),'std'])).reset_index()

In [ ]:
submission

  estado_residencia        mean  median  <lambda_0>        std
0                PR  648.961294     650         850  98.607186
1                RS  651.105143     650         850  95.136598
2                SC  649.537653     653         850  97.233493

In [ ]:
subm = pd.DataFrame(media.agg([mediana,desvio])).reset_index()

AttributeError: ignored

In [ ]:
submission.to_json()

'{"estado_residencia":{"0":"PR","1":"RS","2":"SC"},"mean":{"0":648.9612940497,"1":651.1051428571,"2":649.5376527423},"median":{"0":650,"1":650,"2":653},"<lambda_0>":{"0":850,"1":850,"2":850},"std":{"0":98.6071859131,"1":95.1365984138,"2":97.2334927934}}'

In [ ]:
submission.columns=['estado_residencia', 'media', 'mediana','moda', 'desvio_padrao']

In [ ]:
submission.head()

  estado_residencia       media  mediana  moda  desvio_padrao
0                PR  648.961294      650   850      98.607186
1                RS  651.105143      650   850      95.136598
2                SC  649.537653      653   850      97.233493

In [ ]:
sub = submission.transpose()

In [ ]:
sub.columns = ["PR", "RS", "SC"]

In [ ]:
sub.drop('estado_residencia', inplace=True)

KeyError: ignored

In [ ]:
sub.to_json('submission1.json', orient='columns')

In [ ]:
type(sub)

pandas.core.frame.DataFrame

In [ ]:
jj = pd.read_json("submission1.json")

In [ ]:
jj.head()

                       PR          RS          SC
media          648.961294  651.105143  649.537653
mediana        650.000000  650.000000  653.000000
moda           850.000000  850.000000  850.000000
desvio_padrao   98.607186   95.136598   97.233493

In [ ]:
j = pd.read_json("submission.json")
j.head()

               SC  RS  PR
moda            0   0   0
mediana         0   0   0
media           0   0   0
desvio_padrao   0   0   0

In [ ]:
j.to_json('test.json')

In [ ]:
re = pd.read_json('test.json')

In [ ]:
re

               SC  RS  PR
moda            0   0   0
mediana         0   0   0
media           0   0   0
desvio_padrao   0   0   0