<a href="https://colab.research.google.com/github/C4st3ll4n/google_colab/blob/master/desafio_codenation_enem_treineiro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%pip install pandas
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn import svm
from sklearn import neighbors
from sklearn.ensemble import GradientBoostingRegressor
from sklearn import model_selection

In [ ]:
train = pd.read_csv('train.csv')

In [ ]:
cols=[
    'NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_REDACAO','TP_ST_CONCLUSAO','IN_TREINEIRO'
]

In [ ]:
df_train = train[cols]

In [ ]:
df_train.head()

   NU_NOTA_CN  NU_NOTA_CH  ...  TP_ST_CONCLUSAO  IN_TREINEIRO
0       436.3       495.4  ...                1             0
1       474.5       544.1  ...                2             0
2         NaN         NaN  ...                3             0
3         NaN         NaN  ...                1             0
4         NaN         NaN  ...                1             0

[5 rows x 6 columns]

In [ ]:
df_train.shape

(13730, 6)

In [ ]:
df_train.isna().sum()

NU_NOTA_CN         0
NU_NOTA_CH         0
NU_NOTA_LC         0
NU_NOTA_REDACAO    0
TP_ST_CONCLUSAO    0
dtype: int64

In [ ]:
df_train.dropna(inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
Y = df_train.IN_TREINEIRO.values

In [ ]:
df_train.drop(axis=1, columns='IN_TREINEIRO',inplace=True)
X = df_train.values

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
XTrain, XTest, YTrain, YTest = model_selection.train_test_split(X, Y, test_size=0.3, random_state=1)

In [ ]:
dt = tree.DecisionTreeClassifier()
dt.fit(XTest, YTest)
r = dt.predict(XTest)
acr = metrics.accuracy_score(YTest, r)
print(acr)

1.0

In [ ]:
df_test = pd.read_csv('test.csv')
columns=['NU_NOTA_CN','NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_REDACAO', 'TP_ST_CONCLUSAO']
df_test = df_test[columns]

In [ ]:
df_test.isna().sum().sum()

4564

In [ ]:
df_test.fillna(df_test.median, inplace=True)
df_test.head()

   NU_NOTA_CN  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_REDACAO  TP_ST_CONCLUSAO
0       495.3       593.3         0.0              0.0                1
1         0.0         0.0         0.0              0.0                1
2       559.1       529.3         0.0              0.0                3
3       475.0       557.8       542.0            480.0                2
4       440.5       596.1       594.2            720.0                1

In [ ]:
#print(df_test.head())
dectre = tree.DecisionTreeClassifier()
dectre.fit(X,Y)
resposta = dectre.predict(df_test.values)

   NU_NOTA_CN  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_REDACAO  TP_ST_CONCLUSAO
0       495.3       593.3         0.0              0.0                1
1         0.0         0.0         0.0              0.0                1
2       559.1       529.3         0.0              0.0                3
3       475.0       557.8       542.0            480.0                2
4       440.5       596.1       594.2            720.0                1

In [ ]:
df_resposta = pd.DataFrame()
df_resposta['NU_INSCRICAO'] = pd.read_csv('test.csv')['NU_INSCRICAO']
df_resposta['IN_TREINEIRO'] = resposta

In [ ]:
df_resposta.head()

                               NU_INSCRICAO  IN_TREINEIRO
0  ba0cc30ba34e7a46764c09dfc38ed83d15828897             0
1  177f281c68fa032aedbd842a745da68490926cd2             0
2  6cf0d8b97597d7625cdedc7bdb6c0f052286c334             0
3  5c356d810fa57671402502cd0933e5601a2ebf1e             0
4  df47c07bd881c2db3f38c6048bf77c132ad0ceb3             0

In [ ]:
df_resposta.to_csv('answer.csv', index=False)