<a href="https://colab.research.google.com/github/C4st3ll4n/google_colab/blob/master/desafio_codenation_feature_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio 6

Neste desafio, vamos praticar _feature engineering_, um dos processos mais importantes e trabalhosos de ML. Utilizaremos o _data set_ [Countries of the world](https://www.kaggle.com/fernandol/countries-of-the-world), que contém dados sobre os 227 países do mundo com informações sobre tamanho da população, área, imigração e setores de produção.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Setup_ geral

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn as sk

from sklearn.preprocessing import (
    OneHotEncoder, Binarizer, KBinsDiscretizer,
    MinMaxScaler, StandardScaler, PolynomialFeatures
)
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import (
    CountVectorizer, TfidfTransformer, TfidfVectorizer
)

In [ ]:
# Algumas configurações para o matplotlib.
#%matplotlib inline

#from IPython.core.pylabtools import figsize


#figsize(12, 8)

#sns.set()

In [ ]:
countries = pd.read_csv("countries.csv")

In [ ]:
new_column_names = [
    "Country", "Region", "Population", "Area", "Pop_density", "Coastline_ratio",
    "Net_migration", "Infant_mortality", "GDP", "Literacy", "Phones_per_1000",
    "Arable", "Crops", "Other", "Climate", "Birthrate", "Deathrate", "Agriculture",
    "Industry", "Service"
]

countries.columns = new_column_names

countries.head(5)

           Country                               Region  ...  Industry  Service
0     Afghanistan         ASIA (EX. NEAR EAST)           ...      0,24     0,38
1         Albania   EASTERN EUROPE                       ...     0,188    0,579
2         Algeria   NORTHERN AFRICA                      ...       0,6    0,298
3  American Samoa   OCEANIA                              ...       NaN      NaN
4         Andorra   WESTERN EUROPE                       ...       NaN      NaN

[5 rows x 20 columns]

## Observações

Esse _data set_ ainda precisa de alguns ajustes iniciais. Primeiro, note que as variáveis numéricas estão usando vírgula como separador decimal e estão codificadas como strings. Corrija isso antes de continuar: transforme essas variáveis em numéricas adequadamente.

Além disso, as variáveis `Country` e `Region` possuem espaços a mais no começo e no final da string. Você pode utilizar o método `str.strip()` para remover esses espaços.

## Inicia sua análise a partir daqui

In [ ]:
# Sua análise começa aqui.
countries['Region'] = countries['Region'].str.strip()
countries['Country'] = countries['Country'].str.strip()

In [ ]:
cols_transform = ['Coastline_ratio', 'Net_migration', 'Infant_mortality',
                         'Literacy', 'Phones_per_1000', 'Arable', 'Crops',
                         'Other','Birthrate', 'Climate', 'Deathrate', 'Agriculture',
                         'Industry', 'Service', 'Pop_density']

In [ ]:
def alt_col(dframe,cols):
    for c in cols:
        dframe[c] = dframe[c].astype(str).str.replace(',', '.').astype(float, errors='ignore')
    return dframe

In [ ]:
alt_col(countries, cols_transform)

            Country                Region  ...  Industry  Service
0       Afghanistan  ASIA (EX. NEAR EAST)  ...     0.240    0.380
1           Albania        EASTERN EUROPE  ...     0.188    0.579
2           Algeria       NORTHERN AFRICA  ...     0.600    0.298
3    American Samoa               OCEANIA  ...       NaN      NaN
4           Andorra        WESTERN EUROPE  ...       NaN      NaN
..              ...                   ...  ...       ...      ...
222       West Bank             NEAR EAST  ...     0.280    0.630
223  Western Sahara       NORTHERN AFRICA  ...       NaN    0.400
224           Yemen             NEAR EAST  ...     0.472    0.393
225          Zambia    SUB-SAHARAN AFRICA  ...     0.290    0.489
226        Zimbabwe    SUB-SAHARAN AFRICA  ...     0.243    0.579

[227 rows x 20 columns]

In [ ]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           227 non-null    object
 1   Region            227 non-null    object
 2   Population        227 non-null    int64
 3   Area              227 non-null    int64
 4   Pop_density       227 non-null    float64
 5   Coastline_ratio   227 non-null    float64
 6   Net_migration     224 non-null    float64
 7   Infant_mortality  224 non-null    float64
 8   GDP               226 non-null    float64
 9   Literacy          209 non-null    float64
 10  Phones_per_1000   223 non-null    float64
 11  Arable            225 non-null    float64
 12  Crops             225 non-null    float64
 13  Other             225 non-null    float64
 14  Climate           205 non-null    float64
 15  Birthrate         224 non-null    float64
 16  Deathrate         223 non-null    float64
 17  Agriculture       212 non-null    float64
 18  Industry          211 non-null    float64
 19  Service           212 non-null    float64
dtypes: float64(16), int64(2), object(2)
memory usage: 35.6+ KB

In [ ]:
countries.isna().sum()

Country              0
Region               0
Population           0
Area                 0
Pop_density          0
Coastline_ratio      0
Net_migration        3
Infant_mortality     3
GDP                  1
Literacy            18
Phones_per_1000      4
Arable               2
Crops                2
Other                2
Climate             22
Birthrate            3
Deathrate            4
Agriculture         15
Industry            16
Service             15
dtype: int64

## Questão 1

Quais são as regiões (variável `Region`) presentes no _data set_? Retorne uma lista com as regiões únicas do _data set_ com os espaços à frente e atrás da string removidos (mas mantenha pontuação: ponto, hífen etc) e ordenadas em ordem alfabética.

In [ ]:
#print(countries.Region.unique().sort_values())
def q1():
    return list(countries.Region.sort_values().unique())
q1()

['ASIA (EX. NEAR EAST)',
 'BALTICS',
 'C.W. OF IND. STATES',
 'EASTERN EUROPE',
 'LATIN AMER. & CARIB',
 'NEAR EAST',
 'NORTHERN AFRICA',
 'NORTHERN AMERICA',
 'OCEANIA',
 'SUB-SAHARAN AFRICA',
 'WESTERN EUROPE']

## Questão 2

Discretizando a variável `Pop_density` em 10 intervalos com `KBinsDiscretizer`, seguindo o encode `ordinal` e estratégia `quantile`, quantos países se encontram acima do 90º percentil? Responda como um único escalar inteiro.

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer
paises = countries.copy()
def q2():
    # Retorne aqui o resultado da questão 2.
    dscrtzr = KBinsDiscretizer(n_bins=10, encode='ordinal', strategy='quantile')
    paises['Categoric_Pop_Density'] = dscrtzr.fit_transform(paises[['Pop_density']])
    prctl = np.percentile(paises['Categoric_Pop_Density'],90)
    q = paises[paises['Categoric_Pop_Density'] > prctl]
    return int(q.Country.nunique())


q2()

23

# Questão 3

Se codificarmos as variáveis `Region` e `Climate` usando _one-hot encoding_, quantos novos atributos seriam criados? Responda como um único escalar.

In [ ]:
#from sklearn.preprocessing import OneHotEncoder

def q3():
    encoder = OneHotEncoder(sparse=False, dtype=np.int)

    rce = encoder.fit_transform(countries[["Region" , "Climate"]].fillna(-1))
    
    #print(rce.shape[1])
    return int(rce.shape[1])
q3()

18

## Questão 4

Aplique o seguinte _pipeline_:

1. Preencha as variáveis do tipo `int64` e `float64` com suas respectivas medianas.
2. Padronize essas variáveis.

Após aplicado o _pipeline_ descrito acima aos dados (somente nas variáveis dos tipos especificados), aplique o mesmo _pipeline_ (ou `ColumnTransformer`) ao dado abaixo. Qual o valor da variável `Arable` após o _pipeline_? Responda como um único float arredondado para três casas decimais.

In [ ]:
nump = Pipeline(steps=[('imputer',SimpleImputer(strategy='median')),('standardscaler', StandardScaler())])

In [ ]:
test_country = [
    'Test Country', 'NEAR EAST', -0.19032480757326514,
    -0.3232636124824411, -0.04421734470810142, -0.27528113360605316,
    0.13255850810281325, -0.8054845935643491, 1.0119784924248225,
    0.6189182532646624, 1.0074863283776458, 0.20239896852403538,
    -0.043678728558593366, -0.13929748680369286, 1.3163604645710438,
    -0.3699637766938669, -0.6149300604558857, -0.854369594993175,
    0.263445277972641, 0.5712416961268142
]

In [ ]:

def q4():
    dtf = countries.copy()
    cols = dtf.columns[2:len(countries.columns)]
    for c in cols:
        dtf[c].fillna(dtf[c].median(), inplace=True)
    std = StandardScaler()
    dtf[cols] = std.fit_transform(dtf[cols])
    amostra = np.array(test_country[2:]).reshape(1, -1)
    return float(std.transform(amostra)[0][9].round(3))
#q4()

-1.047

## Questão 5

Descubra o número de _outliers_ da variável `Net_migration` segundo o método do _boxplot_, ou seja, usando a lógica:

$$x \notin [Q1 - 1.5 \times \text{IQR}, Q3 + 1.5 \times \text{IQR}] \Rightarrow x \text{ é outlier}$$

que se encontram no grupo inferior e no grupo superior.

Você deveria remover da análise as observações consideradas _outliers_ segundo esse método? Responda como uma tupla de três elementos `(outliers_abaixo, outliers_acima, removeria?)` ((int, int, bool)).

In [ ]:
def q5():
    # Retorne aqui o resultado da questão 4.
    col = np.array(countries['Net_migration'].dropna())
    q1, q3 = np.quantile(col, [0.25, 0.75])
    min = q1 - 1.5*(q3-q1)
    max = q3 + 1.5*(q3-q1)

    out_baixo = (col < min).sum()
    out_cima = (col > max).sum()

    return (int(out_baixo), int(out_cima),False)
q5()

(24, 26, False)

## Questão 6
Para as questões 6 e 7 utilize a biblioteca `fetch_20newsgroups` de datasets de test do `sklearn`

Considere carregar as seguintes categorias e o dataset `newsgroups`:

```
categories = ['sci.electronics', 'comp.graphics', 'rec.motorcycles']
newsgroup = fetch_20newsgroups(subset="train", categories=categories, shuffle=True, random_state=42)
```


Aplique `CountVectorizer` ao _data set_ `newsgroups` e descubra o número de vezes que a palavra _phone_ aparece no corpus. Responda como um único escalar.

In [ ]:
categories = ['sci.electronics', 'comp.graphics', 'rec.motorcycles']
newsgroup = fetch_20newsgroups(subset="train", categories=categories, shuffle=True, random_state=42)
def q6():
    # Retorne aqui o resultado da questão 4.
    countvec = CountVectorizer()
    freqs = countvec.fit_transform(newsgroup.data)
    idx = countvec.get_feature_names().index('phone')
    f = freqs[:, idx].sum()
    return int(f)
q6()

213

## Questão 7

Aplique `TfidfVectorizer` ao _data set_ `newsgroups` e descubra o TF-IDF da palavra _phone_. Responda como um único escalar arredondado para três casas decimais.

In [ ]:
def q7():
    # Retorne aqui o resultado da questão 4.
    tf = TfidfVectorizer()
    r = tf.fit_transform(newsgroup.data)
    idx = tf.get_feature_names().index('phone')
    v = r[:, idx].sum()
    return float(v.round(3))
#q7()

8.888